@import "bootstrap-sprockets";
@import "bootstrap";

.container
{
  width:80%;
  margin: auto;
}

/* universal */

body {
  padding-top: 50px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p
{
  font-size: 1.1em;
}

/* header */

#logo
{
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover
{
  color: #fff;
  text-decoration: none;
}

html
{
  position: relative;
  min-height: 100%;
}

body
{
  margin: 0 0 100px; /* bottom = footer height */
}

footer
{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
}

@media screen and (min-width: 1400px)
{
  .featurette-heading
  {
    margin-top: 120px;
  }
}

@media screen and (max-width:1400px)
{

}

@media screen and (max-width: 768px)
{
  .featurette-heading
  {
    font-size: 50px;
  }
}

@media screen and (max-width: 400px)
{
  h1
  {
    font-size: 30px;
  }
  body{
    text-align:center;
  }
}


ScrollStyle .image_div
{
  text-align: center;
}

.ScrollStyle .image_div img
{
  border-radius: 50%;
}

.ScrollStyle .article_div
{
  width: 100%;
  margin-top: 10px;
}

.ScrollStyle .article_div h4
{
  text-align: center;
}

.ScrollStyle
{
  max-height: 800px;
  overflow-y: scroll;
  width: 99%;
  text-align: center;
  background: #EEF1E0;
}

.scrollbar_div
{
  width: 20%;
  display: inline-block;
  float:left;
}
.home_image_div
{
  text-align: center;

}
.home_article_div
{
  width: 33%;
  float: left;
  margin-top: 30px;
  margin-bottom: 30px;
}
.home_article_div h3
{
  margin-top:0;
  text-align: center;
}
.home_button_div
{
  text-align: center;
}
@media screen and (min-width: 1220px)
{
  .home_article_div
  {
    width: 25%;
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1220px)
{
  .home_article_div
  {
    width: 50%;
  }
}
@media screen and (max-width: 900px)
{
  .home_article_div
  {
    width: 100%;
  }
}
.imageLink {
  width: 950px;
  height: 440px;
  margin-top: -440px;
  cursor: pointer;
}
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
}
.carousel-caption h3 {
    color: #fff !important;
}
@media (max-width: 600px) {
  .carousel-caption {
    display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}
.bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
}
.item
{
  height: 500px;
  width:900px;
}
.carousel img{
  height: 500px;
  width:900px;
}